{% extends "base.html.twig" %}

{% block other_link %}

{{ encore_entry_link_tags('description') }}

{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}
    




<div class="body">

    <div class="transparence">

        <div class="row justify-content-start mt-lg-0 mt-md-0 mt-sm-4 mt-4">
            <div class="col-lg-5 col-md-5 col-sm-11 col-11">
                <p> <label class="product_name">{{ nom }}</label> <br>
                    Bordeaux  |   Haut-Medoc <br>
                    <a class="btn btn-light mb-lg-0 mb-md-0 mb-sm-1 mb-1">MEILLEURE VENTE</a> <a class="btn btn-light"> MEILLEURE NOTE</a>
                </p>
                
                <img src="{{ asset('images/product_vin.png') }}" class="product_img"></img>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-11 col-11 div_spec">
                
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 spec">Bouteille 75cl</div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-6 etend"></div>
                </div>
                <div class="row">
                    <div class="col-12 pt-4">
                        <p class="p_spec">
                            PRIMEUR 1998<br>
                            <font color="#f8b809">2500$</font><br>
                            Vendu et Expédié par DHL
                        </p>
                        <button class="btn btn-warning">Ajouter au panier</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>




{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
