{% set client = app.session.get('client_info') %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--BOOTSTRAP CSS
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

         BOOTSTRAP JS
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

         STYLE CSS 
        {# the CSS file lives at "publiccss/base.css" #}
        <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
        -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/feather-icons"></script>

         {{ encore_entry_link_tags('app') }}

         {% block other_link %} {% endblock %}
    </head>
    <body>
        
        {% block header %}
            <header>

                <div class="nav-div">
		
                    <input type="checkbox" id="nav-check">
                    <div class="nav-header">
                        <div class="nav-title">
                            <a href="/"><img src="{{ asset('images/logo-gnol.svg') }}" style="width: 100px; height: 100px;"></a>
                        </div>	
                    </div>
                    
                    <div class="nav-btn">

                        <label for="nav-check">
                            <span></span>
                            <span></span>
                            <span></span>
                        </label>
                        
                    </div>

                    <div class="nav-links">
                        <div class="dropdown">
                            <a class="dropbtn">Nos Produits</a>
                            <div class="dropdown-content">
                                <a href="/products/Vin">Vin</a>
                                <a href="/products/Spiritueux">Spiritueux</a>
                                <a href="/products/Champagne">Champagne</a>
                            </div>
                        </div>
                        

                        <a href="/products/Accessoire">Nos accessoires</a>
                        <a href="/#newsletter">Nous contacter</a>
                        <a href="#">Les soldes</a>
                        {% if client %}
                            <a href="/profil"  class="i-user"><i data-feather="user"></i></a>
                        {% else %}
                            <a href="/login"  class="i-user">Connexion</a>
                        {% endif %}
                        
                        <a href="/panier" class="i-cart"><i data-feather="shopping-cart"></i></a>
                        <input type="search" style="font-family: FontAwesome;" placeholder="&#xf002; Recherche...">
                        {% if client %}<a href="/logout">Deconnexion</a>{% endif %}
                        
                    </div>

                </div>
            
            </header>
            
        {% endblock %}
        

            {% block body %}{% endblock %}

        <footer>
        {% block footer %}
            <div class="container-fluid">
                <div class="row justify-content-around footer-row1">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <p class="footer-p1">
                            Nous vous offrons le meilleur alcool du monde
                            pour vos moments de plaisir.
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 col-12 nl-div">
                        <label class="footer-l1">Abonnez vous à notre Newsletter</label>
                        <button class="ad-em">
                            Adresse Email
                        </button>
                        <label class="footer-l2">inscrivez vous à nos dernières nouvelles et articles</label>
                    </div>
                </div>

                <div class="row">
                    <div class="container-fluid footer-container">
                        <div class="row justify-content-around footer-row2">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                <p class="footer-row2-title">Où nous sommes</p>
                                <p>
                                    Côte D'ivoire <br>
                                    France
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                <p class="footer-row2-title">Produits</p>
                                <p>
                                    Champagne <br>
                                    Vin <br>
                                    Spiritueux <br>
                                    Bière <br>
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                                <a href="/"><img src="{{ asset('images/logo-gnol.svg') }}" style="width: 64px; height: 64px;"></a>
                                <p>
                                    Gnol@gnolentreprise.com <br>
                                    +225 0748763369 <br>
                                    +33 355498725 <br>
                                    Angré, Abidjan <br>
                                    Suivez nous <br>
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="row justify-content-around">
                            <div class="col-3">
                            <label>Développer avec <i data-feather="heart"></i> par AKIL</label>
                            </div>
                            <div class="col-3 version">
                            <label>GNOL-2021 V.2554</label>
                            </div>
                        </div>
                    </div>
                </div>
              

            </div>
        {% endblock %}
        </footer>
    </body>
    {{ encore_entry_script_tags('app') }}

    <script>
      feather.replace()
    </script>
</html>
