{% extends "base.html.twig" %}

{% block other_link %}

{{ encore_entry_link_tags('command') }}

{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}


{% block body %}
    




<div class="body">

    <div class="transparence">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12 col-12 order-lg-0 order-md-0 order-sm-1 order-1">

                    <div class="row">

                        <div class="col-12">
                            <div class="profil bg-light p-lg-2 p-md-2 p-sm-3 p-3">
                                <label>ADRESSE</label>
                                <a href="/profil" class="modifier">MODIFIER</a>
                                <hr>
                                <p class="ml-lg-5 ml-md-5 ml-sm-3 ml-sm-3">
                                 
                                {% if client %}
                                
                                    {{client['lastname']}} <br>
                                    {{client['firstname']}} <br>
                                    {{client['adresse']}}<br>
                                    {{client['telephone']}}

                                {% else %}

                                   <a href="/login" class="btn btn-warning profil-redirect">Connexion</a>
                                
                                {% endif %}
                                </p>

                            </div>
                        </div>

                    </div>
                <form method="POST">
                    <div class="row">
                        <div class="col-12">
                            <div class="livraison bg-light mt-3 p-2">
                            <label>MODE DE LIVRAISON</label>
                            <hr>
                            <p class="pl-1">
                                Comment voulez vous que votre commande soit livrée ?<br>
                            </p>
                                {% if client %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="delivermode" value="point de relais" id="relaypoint">
                                        <label class="form-check-label" for="radio1">
                                            Point de relais
                                        </label>
                                        <p>

                                            <select class="form-select form-control" id="pays" name="relaypoint" disabled>
                                                    <option selected disabled>Point de relais</option>
                                                    {% for relaypoint in relaypoints %}
                                                        <option value="{{ relaypoint.id }}">{{relaypoint.label}}</option>
                                                    {% endfor %}
                                            </select>
                                        
                                        <p>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="delivermode" value="à domicile" id="homepoint">
                                        <label class="form-check-label" for="radio2">
                                            À domicile
                                        </label>
                                    </div>
                                {% else %}
                                    <a href="/login" class="btn btn-warning profil-redirect">Connexion</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="paiement bg-light mt-3 p-2">

                                <label>MODE DE PAIEMENT</label>
                                <hr>
                                <div class="pl-1">

                                    Quel moyen de paiement preferez-vous ?

                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="paymentmode" id="radio0" value="à la livraison">
                                        <label class="form-check-label" for="radio0">
                                            À la livraison
                                        </label>
                                    </div>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="paymentmode" value="mobile money" id="radio1">
                                        <label class="form-check-label" for="radio1">
                                            Mobile Money
                                        </label>
                                    </div>
                                
                                </div>
                                
                                <button type="submit" name="command" class="btn btn-warning w-100">COMMANDER</button>
                
                            </div>
                        </div>
                    </div>
                </form>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-12 order-lg-1 order-md-1 order-sm-0 order-0 mb-lg-0 mb-md-0 mb-sm-4 mb-5 mt-lg-0 mt-md-0 mt-sm-4 mt-5">

                    <div class="panier bg-light mr-2 p-1">
                        <div class="title_panier"><font color="#f8b809">VOTRE COMMANDE</font></div>
                        {% for product in cart %}

                            <div class="row mb-lg-3">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-4" style="height: 100px;">
                                    <img src="{{ asset('uploads/product_image/'~product.image_url) }}" class="img_panier">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-8 list_product">
                                    <p>
                                        {{ product.label }} <br>
                                        {{ product.label_desc }} <br>
                                    <p>
                                    <p>
                                        <label class="prix">
                                            {% if geolocation.country_code == 'CI' %}
                                                {% set price = product.sous_total * 655.85 %}
                                                {{ price | format_currency(geolocation.currency_code, locale="CI") }}
                                            {% else %}
                                                {{ product.sous_total | format_currency('EUR') }}
                                            {% endif %}
                                        </label><br>
                                        <label>Qte {{ product.quantity_wanted }}</label>
                                    </p>
                                </div>
                            </div>

                        {% endfor %}
                        

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                

                                <div class="row justify-content-lg-between justify-content-md-between justify-content-sm-around justify-content-around">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label>Total-partiel</label>
                                    </div>
                                     <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label class="prix">
                                             {% if geolocation.country_code == 'CI' %}
                                                {% set price = total_cart * 655.85 %}
                                                {{ price | format_currency(geolocation.currency_code, locale="CI") }}
                                            {% else %}
                                                {{ total_cart | format_currency('EUR') }}
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>

                                <div class="row justify-content-lg-between justify-content-md-between justify-content-sm-around justify-content-around">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label>Frais livraison</label>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label class="prix" id="frais_livraison">0</label>
                                    </div>
                                </div>

                                <div class="row justify-content-lg-between justify-content-md-between justify-content-sm-around justify-content-around">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label>Total</label>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                        <label class="prix" id="total_command">
                                            {% if geolocation.country_code == 'CI'%}
                                                {% set price = total_command * 655.85 %}
                                                {{ price | format_currency(geolocation.currency_code, locale="CI") }}
                                            {% else %}
                                                {{ total_command | format_currency('EUR') }}
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="title_panier"><a href="/panier" class="panier_back">RETOUR AU PANIER</a></div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>




{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
